<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.boardGameMarket.project.mapper.MemberMapper">
  
  	<select id="getMemberList" resultType="com.boardGameMarket.project.domain.MemberVO">
  		
  	<![CDATA[
  		SELECT * FROM (
  			SELECT /*+INDEX_DESC(Product SYS_C007586) */
  				rownum as rn, member_id, member_name, member_email, member_phone,
  				member_role,member_updateDate, member_regDate
  				FROM Member
  				WHERE
  	]]>
  	
  			<if test="keyword != null">
  				member_name LIKE '%'||#{keyword}||'%' AND
  			</if>
  			
  	<![CDATA[
  				rownum <= #{pageNum}*#{amount}
  				)
  				WHERE rn > (#{pageNum} -1) * #{amount}
  	]]>
  	
  	</select>
  	
  	<select id="memberGetTotal" resultType="int">
  		SELECT COUNT(*) FROM Member
  		<if test="keyword != null">
  			WHERE member_name LIKE '%'||#{keyword}||'%'
  		</if>
  	</select>
  	
  	<select id="getMemberAddress" resultType="com.boardGameMarket.project.domain.MemberAddressVO">
  		SELECT * FROM Member_Address WHERE member_id = #{member_id}
  	</select>
  
 	<insert id="member_registration" parameterType="com.boardGameMarket.project.domain.MemberVO">
 		INSERT INTO Member(member_id,member_password,member_name,member_email,member_phone,member_role,member_regDate,member_updateDate)
 		 VALUES(#{member_id},#{member_password},#{member_name},#{member_email},#{member_phone},#{member_role},sysdate,sysdate)
 	</insert>
 	
 	<insert id="member_address_registration" parameterType="com.boardGameMarket.project.domain.MemberAddressVO">
 		INSERT INTO Member_Address(member_id,member_address1,member_address2,member_address3)
 		 VALUES(#{member_id},#{member_address1},#{member_address2},#{member_address3})
 	</insert> 
  
  	<select id="idCheck" resultType="int">
		SELECT COUNT(*) FROM Member WHERE member_id = #{member_id}  	
  	</select>
  	
  	<select id="member_login" resultType="com.boardGameMarket.project.domain.MemberVO">
  		SELECT member_id, member_name, member_role 
  		FROM Member WHERE member_id = #{member_id} AND member_password = #{member_password}
  	</select>
  	
  	<select id="getMember" resultType="com.boardGameMarket.project.domain.MemberVO">
  		SELECT * FROM Member WHERE member_id = #{member_id}
  	</select>
  	
  	<delete id="member_remove">
  		DELETE FROM Member WHERE member_id = #{member_id}
  	</delete>
  	
  	<delete id="member_address_remove">
  		DELETE FROM Member_Address WHERE member_id = #{member_id}
  	</delete>
  	
  	<select id="member_idSearch" resultType="String">
  		SELECT member_id FROM Member WHERE member_name = #{member_name} AND member_phone = #{member_phone}
  	</select>
  	
  	<select id="member_pwSearch" resultType="int">
  		SELECT COUNT(*) FROM Member WHERE member_id = #{member_id} AND member_email = #{member_email}
  	</select>
  	
  	<update id="member_update_tempPw">
  		UPDATE Member SET member_password = #{member_password} WHERE member_id = #{member_id} AND member_email = #{member_email}
  	</update>
  	
  	<update id="member_modify" parameterType="com.boardGameMarket.project.domain.MemberVO">
  		UPDATE Member SET member_password =#{member_password}, member_email = #{member_email}, member_phone = #{member_phone} WHERE member_id = #{member_id}	
  	</update>
  	
  	<update id="member_address_modify">
  		UPDATE Member_Address SET member_address1 = #{member_address.member_address1}, member_address2 = #{member_address.member_address2}, member_address3 = #{member_address.member_address3} WHERE member_id = #{member_id}
  	</update>
  	
  </mapper>